# Node.js
# ------------------------------------
# Dependency directories
node_modules
/coverage

# Build and temporary directories
/dist
/build
/tmp

# Log files
*.log
npm-debug.log*
.DS_Store

# Environment variables
.env
.env.local

# IDE-specific files
.vscode/
.idea/
.history/

# OS-specific files
Thumbs.db

# Project-specific files to ignore
README_CI_CD.md
dev_ipshopy_db.sql
jest.config.js
opencart files/
postman/
uploads/

catalog/
test-product-search.js
opencart-tables.sql
related-to-product.json
postman-collections/
all_categories.postman_collection.json
